
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Library - Login Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/templatemo-style.css" />

</head>
{<body>
    <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/bg-02.jpg">
        <div class="container-fluid">
            <div class="row tm-brand-row">
                <div class="col-lg-4 col-11">
                    <div class="tm-brand-container tm-bg-white-transparent">
                        <i class="fas fa-2x fa-pen tm-brand-icon"></i>
                        <div class="tm-brand-texts">
                            <h1 class="text-uppercase tm-brand-name">Library Management System</h1>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-1">
                    <div class="tm-nav">
                        <nav class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
                            <button class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarNav"
                                    aria-controls="navbarNav"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="index1.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="about.html">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="service.html">Services</a>
                                    </li>

                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item green-highlight active">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="#">Sign In <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="register.html">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
            <div>
                <center>
                    <div>
                        <h1 class="text-white">Sign In to your Account</h1>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <table border="1" class="tm-bg-white-transparent">
                            <tr>
                                <td>User Name</td>
                                <td><input type="text" placeholder="Enter your email id" name="email_id" required></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="text" placeholder="Enter password" name="password" required></td>
                            </tr>
                        </table>
                        <input type="submit" value="Login" />
                        <p class="text-center">If you don't have an account, <a href="register.html">Register</a> instead.</p>
                        <div>
                            <div class="tm-bg-white-transparent" "text-black">
                                {% if messages %}
                                {% for display in messages %}
                                {{display}}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <p class="text-center">If you are an admin, <a href="loginad.html">Admin Login</a>then click here.</p>
                        <p class="text-center">If you are a staff member,<a href="loginst.html">Staff Login</a>then click here.</p>
                    </form>
                </center>
            </div>
            <!-- Page footer -->
            <footer class="row">
                <p class="col-12 text-white text-center tm-copyright-text">

                    Designed by Mahrukh Iftikhar and Ayesha Sana
                </p>
            </footer>
        </div>
        <!-- .container-fluid -->
    </div>


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>


