
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Library - Services Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/templatemo-style.css" />
</head>
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
<body id="servicesPage">
    <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/bg-02.jpg">
        <div class="container-fluid">
            <div class="row tm-brand-row">
                <div class="col-lg-4 col-11">
                    <div class="tm-brand-container tm-bg-white-transparent">
                        <i class="fas fa-2x fa-pen tm-brand-icon"></i>
                        <div class="tm-brand-texts">
                            <h1 class="text-uppercase tm-brand-name">Library Management System</h1>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-1">
                    <div class="tm-nav">
                        <nav class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
                            <button class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarNav"
                                    aria-controls="navbarNav"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="index1.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="about.html">About</a>
                                    </li>
                                    <li class="nav-item green-highlight active">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="#">Services <span class="sr-only">(current)</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="login.html">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="tm-nav-link-highlight"></div>
                                        <a class="nav-link" href="register.html">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Services header -->
            <section class="row" id="tmServices">
                <div class="col-12">
                    <div class="parallax-window tm-services-parallax-header"
                         data-parallax="scroll"
                         data-z-index="101"
                         data-image-src="/static/img/3.jpg">

                        <div class="tm-bg-black-transparent text-center tm-services-header">
                            <h2 class="text-uppercase tm-services-page-title">Our Services</h2>
                            <p class="tm-services-description mb-0 small">
                                Our services include Lending or returning of books by users,<br>
                                maintainance of records at the front end as well as backend<br>
                                and also provide the user friendly environment.
                            </p>
                        </div>
                    </div>
                </div>

                

                <div class="col-12 tm-tabs-container">
                    <div class="tm-tab-links">
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li>
                                <a href="#tab1" class="active">
                                    <div class="icon-wrap "><i class="fas fa-2x fa-leaf"></i></div>
                                    Borrowing Facility
                                </a>
                            </li>
                            <li>
                                <a href="#tab2" class="">
                                    <div class="icon-wrap"><i class="fab fa-2x fa-canadian-maple-leaf"></i></div>
                                    Admin Control
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" class="">
                                    <div class="icon-wrap"><i class="fab fa-2x fa-pagelines"></i></div>
                                    Data Management
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tm-tab-contents ">
                        <div id="first-tab-group" class="tabgroup ">
                            <div id="tab1">
                                <div class="text-content">
                                    <h3 class="tm-service-tab-title">Borrowing Facility</h3>
                                    <p class="tm-service-tab-p">
                                        This app will allow the user to check the availability of book if it is already occupied or a copy of it is available. So that user will be able to know f he/she can borrow that book or not. 
                                    </p>
                                    <p class="mb-0">
                                        If the book is available then this app will allow the user to borrow it online by just clicking a button and then can lend it from the physical library.
                                        This facility will be provided to all users. 
                                    </p>
                                </div>
                            </div>
                            <div id="tab2">
                                <div class="text-content">
                                    <h3 class="tm-service-tab-title">Admin Control</h3>
                                    <p class="tm-service-tab-p">
                                        Library management app will provide the facility to the admin that he/she can see and manage each user and book records. Also allow him/her to mantain each record and to make changes to any of these records. 
                                    </p>
                                    <p class="mb-0">
                                        This app will provide a complete control over it to admin at its end.
                                    </p>
                                </div>
                            </div>
                            <div id="tab3">
                                <div class="text-content">
                                    <h3 class="tm-service-tab-title">Data Management</h3>
                                    <p class="tm-service-tab-p">
                                        This app will manage the whole library database. If a user edit his/her record at the front end it will also be updated at the backend.
                                    </p>
                                    <p class="mb-0">
                                        
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>

            <!-- Page footer -->
            <footer class="row">
                <p class="col-12 text-white text-center tm-copyright-text">
                    
                    Designed by Mahrukh Iftikhar and Ayesha Sana
                </p>
            </footer>
        </div>
        <!-- .container-fluid -->
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();
            $('.tabs a').click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = '#' + $this.parents('.tabs').data('tabgroup'),
                    others = $this.closest('li').siblings().children('a'),
                    target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabgroup).children('div').hide();
                $(target).show();

                // Scroll to tab content (for mobile)
                if ($(window).width() < 992) {
                    $('html, body').animate({
                        scrollTop: $("#first-tab-group").offset().top
                    }, 200);
                }
            })
        });

    </script>
</body>
</html>